body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;

}

img {
    border: 5px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    height: auto;
}

figure {
    text-align: center;
    margin: 0;
}

figcaption {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}